.populares {
    padding: 3rem 0;
    /* paddind em cima e em baixo dos lados 0 */
}

.populares__conteudo {
    display: flex;
    flex-wrap: wrap;
    grid-area: conteudo;
    padding: 1rem 0;
}

.populares__card___titulo {
    font-weight: 800;
    font-size: 1.5rem;
    padding-bottom: 0.5px ;
    color: rgb(78, 78, 78);
    
}
.populares__card___data {
    font-size: 15px;
    color: rgb(117, 117, 117);
}
.populares__card___descricao {
    color: #333333;
    text-align: justify;
    word-break: break-all;
    line-height: 1.5rem;
    margin: 1rem 0;
}

.populares__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas:
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    border-radius: 5px ;
    box-shadow: 8px 12px 25px 0px black;
    opacity: 0.9;
}
.populares__card:hover {
    transition: 0.5s;
    opacity: 1;
    transition: 0.5s;
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.01);
    
}
.populares__card:last-child {
    margin-right: 0;
    
}

.populares__card___imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    
    
}

.populares__card___corpo {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem ;
    grid-template-areas: 
        "card-cabecalho"
        "card-conteudo";
    grid-template-rows: auto 1fr;
    padding: .75rem;
}

.populares__titulo {
font-weight: 5000;
color: #acacac;
}
.populares__icon {
    margin-right: .25rem;
}
.populares__cabecalho {
    border-bottom: 1px solid #dcdcdc;
    display:flex;
    justify-content: space-between;
}
.populares__botao {
    background: transparent;
    border: none;
    color: #acacac;
}